@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

html,
body {
  font-family: "Poppins", sans-serif;
  background: white;
  color: black;
  margin: 0;
  overflow-x: hidden;
  webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@layer components {
  .wrapper {
    @apply w-full h-screen;
  }

  .sectionClass {
    @apply min-h-screen bg-gradient-to-b from-gray-900 via-gray-950 to-black px-4 sm:px-6 lg:px-20 py-20 overflow-x-hidden;
  }

  .containerClass {
    @apply max-w-7xl mx-auto;
  }

  .cardClass {
    @apply bg-gray-800/60 backdrop-blur-lg border border-gray-700 rounded-2xl p-6 shadow-lg hover:shadow-2xl hover:-translate-y-2 transition-all duration-300;
  }

  .titleClass {
    @apply text-3xl sm:text-4xl font-bold text-white mb-4;
  }

  .buttonClass {
    @apply inline-block mt-4 px-4 py-2 bg-yellow-600 hover:bg-yellow-500 text-white rounded-lg font-semibold transition duration-300;
  }
}
